<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<!-- <a href="{{ url_for('ApplyLeave') }}"><button>Apply Leave</button></a> -->

		<body bgcolor="lightgrey">
			<a href="ApplyLeaveEmp.html"><button>Back to home</button></a>
			
			<form action="/AddEmp" autocomplete="on" method = "GET,POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" ><br><br>

		  		Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>

		  		Primary Skills:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>

		  		Location:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

				Hire Date: <br> <input style="height:25px;font-size:14pt;color:grey;" type="date" name="hire_date"><br><br>

				Years experience:<br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="exp_yr"><br><br>
				
				<!-- high school,associate's degree,bachelor's degree, master, doctorate  -->
				<!-- <label for="edu_lvl">Choose education level:</label> -->
				<!-- <select id="edu_lvl" name="edu_lvl">
					<option value="" disabled selected>Select an option</option>
					<option value="high_school">High school</option>
					<option value="associate_degree">Associate's degree</option>
					<option value="bachelor_degree">Bachelor's degree</option>
					<option value="master">Master</option>
					<option value="doctorate">Doctorate</option>
				</select> -->
				<!-- graphic designer, web developer, marketing analyst, content creator, digital marketing manager, social media manager -->
				<!-- <label for="position">Choose position:</label>
				<select id="position" name="position">
		
					<option value="graphic_designer">Graphic designer</option>
					<option value="web_developer">Web developer</option>
					<option value="marketing_analyst">Marketing analyst</option>
					<option value="content_creator">Content creator</option>
					<option value="digital_marketing_manager">Digital marketing manager</option>
					<option value="social_media_manager">Social media manager</option>
				</select> -->
				Education Level: <br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="edu_lvl"><br><br>

				Position: <br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="position"><br><br>

				<!-- Salary: <br> <output style="height:25px;font-size:14pt;color:grey;" type="number" step="0.01" name="salary"><br><br> -->

		  		Image: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>
				  <!-- <a href="MainMenu.html"><button>Back to home</button></a> -->
				
			</form>
<a href="/AboutUs">About Us</a>
		</body>

	</font>
</center>
</html>

