<!DOCTYPE html>
<html>
<head>
	<title>Apply Leave Application</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Apply Leave Application</h1>

		<body bgcolor="lightgrey">

			<form action="/applyleave" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<!-- <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br> -->

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		<!-- Type of Leave:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="type_leave" autofocus size="40"><br><br> -->
                  <label for="type_leave">Type of Leave:<br></label>
                  <select name="type_leave" id="type_leave">
                    <option value="annual">Annual</option>
                    <option value="sick">Sick</option>
                    <option value="maternity">Maternity</option>
                    <option value="paternity">Paternity</option>
                  </select><br><br>

                Start Date:<br> <input style="height:25px;font-size:14pt; color:grey;" type="date" name="start_date" autofocus size="40"><br><br>

                End Date:<br> <input style="height:25px;font-size:14pt; color:grey;" type="date" name="end_date" autofocus size="40"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">SUBMIT APPLICATION</button>
				<a href="MainMenu.html"><button>Back to home</button></a>
			</form>
		</body>

	</font>
</center>
</html>