<!DOCTYPE html>
<html>

<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">{{ employee.first_name }} {{ employee.last_name }}'s Information</h1>

		<body bgcolor="lightgrey">

			<div>
				<p><strong>Name: </strong>{{ employee.first_name }} {{ employee.last_name }}</p>
				<p><strong>Primary Skill: </strong>{{ employee.pri_skill }}</p>
				<p><strong>Address: </strong>{{ employee.location }}</p>
				<p><strong>Hire date: </strong>{{ employee.hire_date }}</p>
				<p><strong>Year of working Experience: </strong>{{ employee.exp_year }}</p>
				<p><strong>Education Level: </strong>{{ employee.edu_lvl }}</p>
				<p><strong>Position: </strong>{{ employee.position }}</p>
				<p><strong>Salary: </strong>{{ employee.salary }}</p>
			</div>

			<a href="/"><input type="button" value="Back to home"></a>
		</body>

	</font>
</center>

</html>