<!DOCTYPE html>
<html>

<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">{{ first_name }} {{ last_name }}'s Information</h1>

		<body bgcolor="lightgrey">

			<div>
				<p><strong>Name: </strong>{{ first_name }} {{ last_name }}</p>
				<p><strong>Primary Skill: </strong>{{ pri_skill }}</p>
				<p><strong>Address: </strong>{{ location }}</p>
				<p><strong>Hire date: </strong>{{ hire_date }}</p>
				<p><strong>Year of working Experience: </strong>{{ exp_year }}</p>
				<p><strong>Education Level: </strong>{{ edu_lvl }}</p>
				<p><strong>Position: </strong>{{ position }}</p>
				<p><strong>Salary (RM): </strong>{{ salary }}</p>
			</div>

			<a href="/"><input type="button" value="Back to home"></a>
		</body>

	</font>
</center>

</html>