<!DOCTYPE html>
<html>

<head>
	<title>Error occurs</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">ERROR</h1>

		<body bgcolor="lightgrey">
			<!-- <form action="/DeleteEmp" autocomplete="on" method="POST" enctype="multipart/form-data">
				Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id"
					autofocus size="40"><br><br>
				<button type="delete"
					style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">DELETE
				</button>
			</form> -->
		
    		<div style="color: red;">{{ error_msg }}</div>
			

			<a href="/"><input type="button" value="Back to home"></a>
		</body>
	</font>
</center>

</html>