<!DOCTYPE html>
<html>

<head>
    <title>Main Menu</title>
</head>

<body>
    <a href="/AddEmp"><input type="button" value="Add Employee"></a>
    <a href="/ApplyLeaveEmp"><input type="button" value="Apply Leave"></a>
    <a href="/ReadEmp"><input type="button" value="Retrieve Specific Employee Information"></a>
    <a href="/AllEmpInfo"><input type="button" value="Retrieve All Employee Information"></a>
    <a href="/UpdateEmp"><input type="button" value="Update Employee Information"></a>
    <a href="/DeleteEmp"><input type="button" value="Delete Employee Information"></a>
    <a href="/AddAttendance"><input type="button" value="Add attendance"></a>
    <a href="/CheckAttendanceRecord"><input type="button" value="Check Attendance Record"></a>

    <!-- <div class="col-md-6 ">
        <div class="detail_box">
          <h1>
            The best marketing
          </h1>
          <p>
            We, at SEO Tech Experts, understand the value of traffic on the website and lead generation which is not possible merely creating a website. To accomplish the business goals, we promise to cater to proven Digital Marketing strategies at cost-effective pricing. We deliver a wide variety of website services such as Website Designing & Development, Website Hosting & Domain Registration Facilities, Search Engine Optimization, Social Media Optimization & Marketing, Search Engine Marketing, Logo Designing, Graphic Designing, Content Writing, Online Reputation management, and growth hacking Services. 
          </p>
          <div class="btn-box">
            <a href="/AddEmp" class="btn-1">
              Add Employee
            </a>
            <a href="" class="btn-2">
              Get A Quote
            </a>
          </div>
        </div> -->
</body>

</html>