<!DOCTYPE html>
<html>
<head>
	<title>Main Menu</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">
        <form action="/main" autocomplete="on" method = "POST" enctype="multipart/form-data">
            <h1 style="color: DodgerBlue">Main Menu</h1>

            <body bgcolor="lightgrey">
                <a href="ApplyLeaveEmp.html"><button>Apply Leave</button></a>
                <a href="AddEmp.html"><button>Add Employee</button></a>
                <a href="DeleteEmp.html"><button>Delete Employee</button></a>
                <a href="ReadEmp.html"><button>Read Employee</button></a>
                <a href="UpdateEmp.html"><button>Update Employee</button></a>
                <a href="AboutUs.html"><button>About Us</button></a>
            </body>
        </form>
	</font>
</center>
</html>

