<!DOCTYPE html>
<html>

<head>
    <title>Main Menu</title>
</head>

<body>
    <a href="/AddEmp"><input type="button" value="Add Employee"></a>
    <a href="/ApplyLeaveEmp"><input type="button" value="Apply Leave"></a>
    <a href="/ReadEmp"><input type="button" value="Retrieve Specific Employee Information"></a>
    <a href="/AllEmpInfo"><input type="button" value="Retrieve All Employee Information"></a>
    <a href="/UpdateEmp"><input type="button" value="Update Employee Information"></a>

</body>

</html>