<!DOCTYPE html>
<html>
<head>
	<title>Retrieve Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form action="/employeeInfo" autocomplete="on" method="POST" enctype="multipart/form-data">

                <h4 style="color: DodgerBlue">Input the employee ID that you wish to retrieve full information</h4>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">RETRIEVE EMPLOYEE</button>
                <a href="MainMenu.html"><button>Back to home</button></a>
			</form>
		</body>

	</font>
</center>
</html>