<!DOCTYPE html>
<html>
<head>
	<title>Delete Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>


		<body bgcolor="lightgrey">
			<!-- <a href="Get.html"><button>Edit Employee Details</button></a> -->

			<form action="/deleteemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<!-- <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br> -->

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>


		  		<button type="delete" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">DELETE DATABASE</button>
                <a href="MainMenu.html"><button>Back to home</button></a>
			</form>
            <!-- <a href="/AboutUs">About Us</a> -->
		</body>

	</font>
</center>
</html>

